<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout | MP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <% if (styles && styles.length > 0) { %>
        <% styles.forEach(style => { %>
            <link rel="stylesheet" href="/css/<%= style %>.css">
        <% }) %>
    <% } %>
</head>